.Rhistory
.RData
*.zip
*tripdata.csv
data_*
*auth.json
*.dcf
~$*.xlsx
guis_cpi.xlsx
Motor_Vehicle_Collisions_-_Crashes.csv
data606-statistics/final-exam/
data607-data-management/projects/final-project/minima
data602-advanced-programming-techniques/data-602-final-project
data607-data-management/projects/project-3/Part 2
data607-data-management/tidyverse